{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}

        {% endblock %}
    </title>
    <!-- CDNS -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
<style>
  .nav li a{
    color: rgba(224, 162, 4, 0.852);
    font-size: 20px;

  }
  .navbar-brand{
    color: rgba(224, 162, 4, 0.852);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  body{
    background-color: rgba(67, 67, 60,.4);
    font-size: large;
  }
</style>
</head>
<body>
    <!-- navbar start -->
    <nav class="navbar navbar-bg-light">
  <div class="container-fluid ">
    <div class="navbar-header ">
      &nbsp;
      <a class="navbar-brand" style="font-size: 30px;" href="#">Events</a>
    </div>
    <ul class="nav navbar-nav mx-auto ">
      <li class="active"><a style="font-size: 30px;" href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'event' %}" style="font-size: 30px;">Events</a></li>
      {% if user.is_authenticated %}
      <li ><a href="{% url 'booking' %}" style="font-size: 30px;">Booking</a></li>
      <li><a href="{% url 'logout' %}" style="font-size: 25px;"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
      </ul>

      
      <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{user.username}}</h3>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'register' %}" style="font-size: 25px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}" style="font-size: 25px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      
    </ul>
    
    {% endif %}

  </div>
</nav>
<hr>

{%block content%}

{% endblock %}

</body>
</html>